body{
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    background-image:linear-gradient(tomato,orangered);
    margin:5px;
    padding:3px;
    border-radius: 7px;
}
.navbar-brand{
    background-image:linear-gradient(orange,tomato);
    color:whitesmoke;
    border-radius: 70px;
    Padding:20px;
    font-size: 30px;
    font-weight: 800;
}
.navbar-brand:hover{
    color: white;
    font-size: 35px;
    transition: 0.35s ease-in-out;
}
.clss0{
    color: white;
    font-size: 30px;
}
.clss1{
    font-size:20px;
}
.clss1 span:nth-child(1){
    position:relative;
    animation: animate 2s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(2){
    position:relative;
    animation: animate 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(3){
    position:relative;
    animation: animate 2s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(4){
    position:relative;
    animation: animate 2s;
    animation-delay: 0.9s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(5){
    position:relative;
    animation: animate 2s;
    animation-delay: 1.1s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(6){
    position:relative;
    animation: animate 2s;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(7){
    position:relative;
    animation: animate 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(8){
    position:relative;
    animation: animate 2s;
    animation-delay: 1.7s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(9){
    position:relative;
    animation: animate 2s;
    animation-delay: 1.9s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(10){
    position:relative;
    animation: animate 2s;
    animation-delay: 2.1s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(11){
    position:relative;
    animation: animate 2s;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
}
.clss1 span:nth-child(12){
    position:relative;
    animation: animate 2s;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
}
@keyframes animate{
    0%{
        bottom: -100px;
    }
    100%{
        bottom: 0;
    }
}
.img1{
    height:160px;
    width:100%;
}
.clssabout{
    font-family: 'cookie';
    color:tomato;
}
.clssabout1{
    font-size: 15px;
    color:#adadad;
}
.btn-primary{
    background-color: orangered;
    border-color: white;
}
.btn-primary:hover{
    border-color:white;
    background-color:tomato;
}
.card-img-top{
    height:160px;

}
.card-img-top{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.card-img-top:hover{
    transform: scale(1.2);
}
.card1{
    overflow: hidden;
}
.order_1st_titile_font{
    font-size: 14px;
}
.order_2nd_title_color{
    color:orangered;
}
.order_paragraph_size{
   font-size: 10px; 
}
.order_button{
    background-image: linear-gradient(tomato,orangered);
    border-color: white;
}
.order_button:hover{
    border-color: white;
}
